* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ul {
  list-style: none;
}

.menu-item {
  width: 150px;
  /* border: 1px solid red; */
  margin: 5px;
}

.label {
  display: none;
}

@media (pointer: fine) {
  .menu-item:hover .label {
    display: inline;
  }
}
