* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}

.enunciado {
  margin: 10px;
}

.enunciado h1 {
  margin-bottom: 10px;
}

.enunciado p {
  font-size: 1.3rem;
  margin: 10px;
}

.enunciado ul {
  margin: 20px;
}

.solucao {
  border: 1px solid salmon;
  margin: 10px 20px;
  position: relative;
  height: 100vh;
}

.solucao ul {
  list-style: none;
}

/* Dispositivos mobile */
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
}

.logo {
  width: 50px;
  height: auto;
}

.menu-toggle {
  background: none;
  color: #fff;
  border: none;
  font-size: 2rem;
}

.drawer-menu {
  height: 100%;
  position: absolute;
  top: 0;
  left: -250px;
  background-color: #444444a1;
  transition: left 0.3s ease;
}

.drawer-menu ul {
  list-style: none;
  padding: 1rem;
}

.drawer-menu ul li {
  padding: 1rem 0;
}

.drawer-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.drawer-menu.open {
  left: 0;
}

@media (min-width: 1024px) {
  .solucao {
    display: flex;
    gap: 20px;
  }
  header {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: flex-start; */
    background-color: #333;
    height: 100%;
    width: fit-content;
  }

  .drawer-menu {
    position: relative;
    left: 0;
    background-color: transparent;
    /* justify-content: flex-end; */
  }

  .drawer-menu ul {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 20px;
  }

  .drawer-menu ul li {
    padding: 0;
  }

  .menu-toggle {
    display: none;
  }
}
