.container-header {
  width: 100%;
  border-bottom: 2px solid blue;
  display: flex;
  justify-content: space-between;
}

.logo {
  object-fit: cover;
  height: 50px;
  width: 220px;
  margin: 0 10px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 10px;
}
