* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2 {
  margin: 10px;
  text-align: justify;
}

.solucao {
  margin: 30px;
  padding: 5px;
  border: 1px solid rgb(250, 128, 114);
  box-shadow: 1px 1px 1px rgba(255, 127, 113, 0.5);
}
.solucao ul {
  display: flex;
  justify-content: space-between;
}

.solucao li {
  margin: 0 5px;
  list-style: none;
  border: 1px solid black;
}
