* {
  padding: 0;
  margin: 30px 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  padding: 5px;
  border: 2px rgba(0, 0, 0, 0.478) dashed;
  width: 100px;
  height: 50px;
  text-align: center;
  align-content: center;
  text-wrap: nowrap;
  margin: 5px;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

@media screen and (min-width: 1150px) {
  main {
    flex-direction: row;
  }

  a {
    font-size: 1rem;
  }
}
