* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  font-size: 1.2rem;
}

.enunciado {
  margin: 10px;
}

.enunciado h1 {
  margin-bottom: 10px;
}

.enunciado p {
  font-size: 1.3rem;
}

.enunciado ul {
  margin: 20px;
}
